<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pin.user %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @pin.publication %>
</p>

<p>
  <strong>Realization:</strong>
  <%= @pin.realization %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @pin.duration %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pin.price %>
</p>

<p>
  <strong>Help type:</strong>
  <%= @pin.help_type %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @pin.faculty %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @pin.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pin.longitude %>
</p>

<p>
  <strong>Course:</strong>
  <%= @pin.course %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
