<!DOCTYPE html>
<html>
<head>
  <title>Bukit Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert] %>
    <div class="bg-danger"><b>Alerta:</b> <%= flash[:alert] %></div>
<% end %>
<% if flash[:notice] %>
    <div class="bg-info"><b>Notice:</b> <%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
    <div class="bg-danger"><b>Error:</b> <%= flash[:error] %></div>
<% end %>

<% if user_signed_in? %>
	<%= yield %>
<% else %>
	<hr>
	<div class="container">
		<i><h1>Bukit API</h1></i>
			<h2>Autentificacion</h2>
					<p>La autenficacion necesita de el token y el id del usuario. Y debe entregarse con cada request por en los parametros de la consulta.
							 <br> A modo de ejemplo puede ser la siguiente URL:
					</p>
					<code>?user_id=&lt;ID&gt;&amp;user_token=&lt;TOKEN&gt;</code>
					<p>El servidor autentificara lo primero que haria seria autentificar al usuario y luego realizaria lo solicitado</p>
					<p>Para la obtencion de este token se utilizan la ruta al que se le deben
					  enviar por GET el email y constraseña, un ejemplo seria:</p>
					<code>.json?fbuid=&lt;FBUID&gt;&amp;fbsecrettoken=&lt;TOKEN&gt;</code>
	</div>
<% end %>

</body>
</html>
